.hero {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: calc(100vh - 3rem);
  display: flex;
  align-items: flex-end;
  padding: var(--padding-base);
  z-index: 100;
}

.hero__container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 20rem;
}

.hero__left {
  flex: 1;
  min-width: 200px;
  text-align: left;
  padding-bottom: 4rem;
}

.hero__greeting {
  font-size: calc(var(--font-size-base) + 50px);
  font-weight: 700;
  font-family: var(--font-family);
  line-height: 1.2;
}

.hero__name {
  font-size: calc(var(--font-size-base) + 50px);
  font-weight: 600;
  font-family: var(--font-family);
  line-height: 1.2;
}

.hero__right {
  flex: 1;
  min-width: 200px;
  text-align: left;
  padding-bottom: 4rem;
}

.hero__text {
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  margin-bottom: var(--padding-base);
  color: var(--accent-color);
}

.hero__button {
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: calc(var(--padding-base) * 0.5) var(--padding-base);
  border: none;
  border-radius: var(--border-radius);
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s ease;
  margin-left: 0rem;
}

.hero__button:hover {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.animate-slideInLeft {
  animation: slideInLeft 1s ease-out forwards;
}

.animate-delay-200 {
  animation-delay: 0.2s;
}

.animate-delay-400 {
  animation-delay: 0.4s;
}

.animate-delay-500 {
  animation-delay: 0.5s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 450px) {
  .hero__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .hero__left {
    text-align: center;
    padding-bottom: 1rem;
    min-width: 100%;
  }
  .hero__right {
    text-align: center;
    padding-bottom: 1rem;
    min-width: 100%;
  }
  .hero__greeting {
    font-size: calc(var(--font-size-base) + 12px);
  }
  .hero__name {
    font-size: calc(var(--font-size-base) + 8px);
  }
  .hero__text {
    font-size: calc(var(--font-size-base) - 2px);
  }
  .hero__button {
    font-size: calc(var(--font-size-base) - 2px);
    padding: calc(var(--padding-base) * 0.3) calc(var(--padding-base) * 0.6);
  }
  .animate-slideInLeft {
    animation: slideInLeft 0.5s ease-out forwards;
  }
}