.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background-color);
  color: var(--text-color);
  padding: 3rem;
  border-radius: var(--border-radius);
  max-width: 500px;
  width: 95%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: calc(1rem + 0.5vw);
}

.email-icon {
  display: inline-block;
  margin-top: 1.5rem;
}

.animate-email {
  animation: emailAnimation 1.5s ease-in-out;
}

.animate-slideInRight {
  animation: slideInRight 0.5s ease-out forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes emailAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.6);
    opacity: 1;
  }
}